@charset "utf-8";
body {
    margin:0px;
    padding:0px;
}

.line-bc {
    text-align: right;
    font-size: 14px;
}
.mycomment {
    margin: 10px 0;
}
.mycomment p {
    display: inline-block;
    position: relative; 
    margin: 0 10px 0 0;
    padding: 8px;
    max-width: 1500px;
    border-radius: 12px;
    background: #30e852;
    font-size:20px;
}
.mycomment p:after {
    content: "";
    position: absolute;
    top: 3px; 
    right: -19px;
    border: 8px solid transparent;
    border-left: 18px solid #30e852;
    -webkit-transform: rotate(-35deg);
    transform: rotate(-35deg);
}
  