@charset "utf-8";
body {
    margin:0px;
    padding:0px;
}

.says {
    display: inline-block;
    position: relative; 
    margin: 0 0 0 15px;
    padding: 10px;
    max-width: 1500px;
    border-radius: 12px;
    background: #fff;
    font-size:20px;
}
  
.says:after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 3px; 
    left: -19px;
    border: 8px solid transparent;
    border-right: 18px solid #fff;
    -webkit-transform: rotate(35deg);
    transform: rotate(35deg);
}
.says p {
    margin: 0;
    padding: 0;
}
